body{
    background-image: url("../assets/background-53607fca1b7d83c3b69be79675a15ac6b82dfa1e86f8d5aab64aec1b37084ab5.jpg");
    background: #4ECDC4;
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}
nav.navbar-tv-tracker { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-tv-tracker a { color: #4ECDC4; }
nav.navbar-tv-tracker ul.navbar-nav a { color: #4ECDC4; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-tv-tracker ul.navbar-nav a:hover,
nav.navbar-tv-tracker ul.navbar-nav a:visited,
nav.navbar-tv-tracker ul.navbar-nav a:focus,
nav.navbar-tv-tracker ul.navbar-nav a:active { background: #fff; }
nav.navbar-tv-tracker ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-tv-tracker li.divider { background: #ccc; }
nav.navbar-tv-tracker button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-tv-tracker button.navbar-toggle:hover { background: #999; }
nav.navbar-tv-tracker button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-tv-tracker ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-tv-tracker ul.dropdown-menu > li > a { color: #444; }
nav.navbar-tv-tracker ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-tv-tracker span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-tv-tracker span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
.login-button{
    background-color:  rgba(255, 0, 0, 0.8);
}
.login-button:hover{
    background-color: whitesmoke;
    color: #0f0f0f;
}
.search-box{
    margin-top: 100px;
}


#search-input {

    padding: 0;
}

#search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}


.result{
    background-color:whitesmoke;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    font-size: larger;
    display: flex;
    text-align: justify;
    opacity: 0.8;
    border-radius: 40px;

}

.result-text-right{
    float: right;
    margin-left: 100px;

}
.result-text-left{
    float: left;
    margin-left:30px;
    width: 200px;

}
.results:empty{
    display: none;
}
.results {
   /* border: 1px solid  ;*/
}
.fav-button{
    background-color: rgba(255, 0, 0, 0.8);
}
.fav-button:hover{
    background-color: whitesmoke;
    color: #0f0f0f;
}
#series-input{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.show-text-left{
    float: left;
    margin-left:30px;


}
.show-text-right{
    float: right;
    margin-left:30px;
    text-align: justify;
}
.well{
    border: 2px solid grey;
    opacity: 0.8;
    width: 600px;
    height: auto;
    border-radius:10px;

}

.shows{
    padding: 1px;
    margin: 10px 5px 10px 5px;
    font-size: larger;
    display: flex;
    text-align: justify;
}
.signup-form{
    background-color: white;
}