<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tv Series Tracker</title>
    <% include ./partials/head %>
</head>
<body>
<header>
    <% include ./partials/nav %>
</header>
<br>
<br>
<br>
<p class="lead text-center">This is a list of your favourite series. </p>

<section>
    <div class="container">

                <div class="col-md-6 col-md-offset-3 column list-group">
                    <% series.forEach(function(show) { %>
                    <div style="margin: 0 auto;" class="list-group-item">
                        <p><b>Name</b>: <%=show.name%></p>
                        <p><b>Current Status</b>: <%=show.status%></p>
                        <p><b>Premier Date</b>: <%=show.premierDate%></p>
                        <a href="/favourites/<%= show._id%>"> Get Info </a>
                    </div>

                    <% }); %>
                </div>
            </div>

</section>
<script src="/public/vendor/jquery/dist/jquery.js"></script>
<script src="/public/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/public/vendor/angular/angular.min.js"></script>
<script src="/public/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>