<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tv Series Tracker</title>
    <% include ./partials/head %>
</head>
<body ng-app="App" ng-controller="mainController as main" class="ng-cloak">
<header>
    <% include ./partials/nav %>
</header>
<br>
<section>
    <form ng-submit="main.search()">
        <div class="container">
            <div class="row search-box">
                <h2 class="text-center">Search for your Favourite Series</h2>
                <div id="search-input">
                    <div class="input-group col-md-12">
                        <input type="text" ng-model="main.show" class="search-query form-control" placeholder="Search here" />
                        <span class="input-group-btn">
                            <button  class="btn btn-danger" id="search-button" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<br>
<br>




<script src="/public/vendor/jquery/dist/jquery.js"></script>
<script src="/public/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/public/vendor/angular/angular.min.js"></script>
<script src="/public/vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/public/js/app.js"></script>

</body>
</html>